extends ../layouts/default

block content

  #home.page

    h1 #{page.title}
    p #{page.description}

    each image in images
      
      img(id="#{image.slug}" src="images/uploads/#{image.image.filename}")
